<?xml version="1.0"?>
<config>
    <game name="FC5" scaleXoffset="8.0" scaleYoffset="8.0" scaleWidth="8.0" scaleHeight="8.0" scaleXadvance="1.3" addCustomYoffset="0" unkHeader1="3" unkHeader2="34" unkHeader3="4" unkHeaderAC="0"/>
    <game name="FCP" scaleXoffset="8.0" scaleYoffset="8.0" scaleWidth="8.0" scaleHeight="8.0" scaleXadvance="2.0" addCustomYoffset="0" unkHeader1="3" unkHeader2="34" unkHeader3="4" unkHeaderAC="0"/>
    <game name="FC3" scaleXoffset="8.0" scaleYoffset="8.0" scaleWidth="8.0" scaleHeight="8.0" scaleXadvance="2.0" addCustomYoffset="0" unkHeader1="3" unkHeader2="34" unkHeader3="4" unkHeaderAC="0"/>
    <game name="WD1" scaleXoffset="1.0" scaleYoffset="1.0" scaleWidth="1.0" scaleHeight="1.0" scaleXadvance="2.0" addCustomYoffset="0" unkHeader1="3" unkHeader2="34" unkHeader3="4" unkHeaderAC="0"/>
    <game name="WD2" scaleXoffset="16.0" scaleYoffset="16.0" scaleWidth="16.0" scaleHeight="16.0" scaleXadvance="2.0" addCustomYoffset="0" unkHeader1="3" unkHeader2="34" unkHeader3="4" unkHeaderAC="0"/>
    <game name="AC4" scaleXoffset="8.0" scaleYoffset="8.0" scaleWidth="8.0" scaleHeight="8.0" scaleXadvance="2.0" addCustomYoffset="0" unkHeader1="3" unkHeader2="34" unkHeader3="4" unkHeaderAC="13"/>
</config>
